.PageContent{
    margin: 2%;
}

.typography{
    position: relative;
    padding: 5%;
    font-size: 144px;
}

h5{
    display: inline;
    font-size: 36px;
}

a{
    display: inline;
}

.myList{
    padding: 0.5%;
}