h1{
    color: red;
}

.griddable{
    width: 80%;
    height: auto;
}

p{
    color: gray;
}

.navbar-dark{
    background-color: black;
    box-shadow: gray;
}

.BannerImg{
    width: 50%;
    height: auto;
}

body{
    height: 100%;
    margin: 0;
    background-image: linear-gradient(180deg, darkslategray, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h5{
    font-family: 'Montserrat', sans-serif;
}